
<div style="display: flex; justify-content: space-around; align-items: center; height: 20%;">
    <!-- Alert icon -->
    <button mat-icon-button>
        <mat-icon>add_alert</mat-icon>
    </button>
    
    <!-- person icon -->
    <button mat-icon-button>
        <mat-icon >perm_identity</mat-icon>
    </button>

    <!-- color pallate icon -->
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
            <mat-icon>color_lens</mat-icon>
    </button>
    <!-- color menu -->
    <mat-menu  #aboveMenu="matMenu" yPosition="above">    
        <app-color (ItemEvent)="receiveColorCode($event)"></app-color>
    </mat-menu>
    
    <!-- insert photo icon -->
    <button mat-icon-button>
        <mat-icon> insert_photo</mat-icon>
    </button>
    
    <!-- archive  icon -->
    <button mat-icon-button (click) = "archivePage()">
        <mat-icon >archive</mat-icon>
    </button>

    <!-- more icon -->
    <button mat-icon-button [matMenuTriggerFor]="belowMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">    
            <div class="deleteButton" mat-stroked-button (click) = "deleteNote()">Delete</div>
        </mat-menu>
</div>

