
<div style="display: flex; justify-content: space-around; align-items: center;">
    <button mat-icon-button>
        <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon >perm_identity</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
        <mat-icon>color_lens</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">    
        <app-color></app-color>
    </mat-menu>
    <button mat-icon-button>
        <mat-icon> insert_photo</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
</div>

