
.noteBlock {
    display: flex;
    width: 235px;
    display: block;
    block-size: 20px;
    /* background-color: rgb(255, 255, 255); */
    margin: 10px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 0px 5px 1px rgb(146, 146, 146);
    height: 10%;
    border-radius: 10px;
}

.title {
    padding: 15px 15px 0px 15px;
    height: 30%;
    /* pointer; */
}

.description {
    padding: 10px 15px 10px 15px;
    height: 35%;
}

.icon {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.displayBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noteBlock:hover .icon {
    display: block;
} 
