
<div class="Body">
    <form [formGroup]="form" (ngSubmit)="submit()" class="text">
        <div class="funDoText">
            <p class="fText"> 
                FunDooNotes 
            </p> 
        </div>
        <div class="head">
            <h1 class="signInText"> Find Your Email </h1>
            <h3 style="font-size: large; color: rgb(73, 72, 72);"> Enter your phone number or recovery email</h3>
        </div>
        <div class=inputBox>
            <div class="row-content1">
            <!-- 1st div for userName  -->  
                <mat-form-field appearance="outline" class="inputContainer">
                    <mat-label>Phone Number or Email</mat-label>
                    <input matInput placeholder="" formControlName="userName">
                    <mat-error *ngIf="form.controls.userName.errors">User Name is required !</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="footer">
            <div>
                <button type="submit" mat-raised-button color="primary" class="button">Next</button>
            </div>
        </div>
    </form>
</div>