.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.searchInput {
    width: 500px;
    height: 48px;
    outline: none;
    border: transparent;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 10px;
}

.panel{
    background-color: rgb(255, 255, 255);
}

.no-events{
    pointer-events: none;
}

.default {
    pointer-events: auto;
}

.footer{
    border-top-style: none;
    padding: 0px;
}
