
<mat-accordion>
    <mat-expansion-panel  [expanded]="step === 2" (opened)="setStep(2)" hideToggle [style.background-color] = "colorData">
        <mat-expansion-panel-header>
            <form [formGroup]="form" (ngSubmit)="submit()" id="my-form"> 
                <div style="width: 600px;">
                    <div style="display: flex; align-items: flex-end; justify-content: space-between;">
                        <div>
                            <input [style.background-color] = "colorData" class="searchInput" type="text" placeholder="Title" formControlName="titleText">
                        </div>
                    </div>
                </div>
            </form>
        </mat-expansion-panel-header>
        <form [formGroup]="form">
            <div style="height: 70px;">
                <input [style.background-color] = "colorData" class="searchInput" type="text" placeholder="Take a Notes.." formControlName="notesText">
            </div>
            <mat-action-row class="footer" style="display: flex; justify-content: space-between;" >
                <app-icon (transColor)="receiveIconColor($event)" style="width: 60%;"></app-icon>
                <button mat-button type="submit" form="my-form" (click)="nextStep()" >Close</button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<!-- style="background-color: {{colorData}};"  -->