
<div class="Body">
    <form [formGroup]="form" (ngSubmit)="submit()" class="text">
        <div class="funDoText">
            <p class="fText"> 
                FunDooNotes 
            </p> 
        </div>
        <div class="head">
            <h1 class="signInText"> Sign in </h1>
            <h3 style="font-size: large; color: rgb(73, 72, 72);"> Use your Google Account </h3>
        </div>
        <div class=inputBox>
            <div class="row-content1">
            <!-- 1st div for userName  -->  
                <mat-form-field appearance="outline" class="inputContainer">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="" formControlName="userName">
                    <mat-error *ngIf="form.controls.userName.errors">User Name is required !</mat-error>
                </mat-form-field>
                <h4 class="forget" style="color: #3566b8;"> Forget email?</h4>
            </div>
            <div class="row-content2">
            <!-- 2nd div for password  -->    
                <mat-form-field appearance="outline" class="inputContainer">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="" formControlName="password">
                    <mat-error *ngIf="form.controls.password.errors">Password is required !</mat-error>
                </mat-form-field>
                <h4 class="forget" style="color: #3566b8;"> Forget password?</h4>
            </div>
        </div>
        <div>
            <h4 style="margin-top: 20px; color: rgb(105, 105, 105);">Not your computer? Use Guest mode to sign in privately.</h4>
        </div>
        <div class="footer">
            <div>
                <a routerLink="/registration"><h4 class="createText">Create Account</h4></a>
            </div>
            <div>
                <button type="submit" mat-raised-button color="primary" class="button">Next</button>
            </div>
        </div>
    </form>
</div>