
.noteBlock {
    display: flex;
    width: 230px;
    display: block;
    block-size: 20px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 0px 0px 0px 0px black;
}

.title {
    padding: 15px 15px 0px 15px;
    height: 30%;
}

.description {
    padding: 3px 15px 10px 15px;
    height: 35%;
}

.icon {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}