<!-- <p>displaynote works!</p> -->
<div class="displayBox" >
    <ng-container  *ngFor="let note of notes"  >
        <div  class="noteBlock" [style.background-color] = "note.color">
            <div (click)="openAddDialog(note)"  >
                <div class="title">
                    <h2>{{ note.title }}</h2>
                </div>
                <div class="description">
                    <h3>{{ note.description }}</h3>
                </div>  
            </div>
            <div class="icon">
                <app-icon (transColor)="receiveToUpdate($event)"></app-icon>
            </div> 
        </div>
    </ng-container>
</div>
    