

<div class="Body">
    <form class="Form">
        <h2>
            Create your Account
        </h2>
        <div class="flex1">
            <div class="row-content1">
            <!-- 2nd div for lastName  -->  
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="row-content2">
            <!-- 2nd div for lastName  -->    
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>
        <div class="row-content3">
            <!-- 3st div for Name  -->
            <mat-form-field appearance="outline">
                <mat-label>Mail</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
        <div class="flex2">
            <div class="row-content1">
            <!-- 4st div for Name  -->
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="row-content2">
            <!-- 5nd div for lastName  -->    
                <mat-form-field appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>
        <div class="modal-footer">
            <h3 class="text"> sign in instead </h3>
            <button onclick="submit()" class="button">Next</button>
        </div>
    </form>
</div>