
.Body {
    background-color: #f7ebeb00;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: auto;
}

.Form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 7px 0px;
    min-height: 90vh;
    width: 50%;
    border-radius: 8px;
    border: 1px solid #b9b3b3
}

.wBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.projectName{
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 15px 0px 0px 33px;
    font-size: xx-large;
    font-weight: normal;
}

.flex1 {
    display: flex;
    padding: 30px 0px 0px 32px;
    justify-content: stretch;
}

.input {
    width: 180px;
    height: 30px;
    border: 1px solid #00000075;
    border-radius: 5px;
    margin-left: auto;
}

.row-content2 {
    margin-left: 20px;
}

.row-content3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 0px 0px 32px;
}

.flex2 {
    display: flex;
    padding: 60px 0px 30px 32px;
    justify-content: stretch;
}

.placewidth{
    width: 424px;
}

h4 {
    margin: -8px -258px 0px 15px;
    color: #00000091;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    border-radius: 10px;
    align-items: baseline;
    padding: 40px 0px 0px 0px;
    border-top: 0px;
}

.text {
    display: flex;
    color: #3566b8;
    height: 50px;
    cursor: pointer;
    font-weight: 20px;
    margin-left: 30px;
}

.button {
    background-color: #3566b8;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 35px;
    cursor: pointer;
    height: 40px;
    width: auto;
    font-weight: 500;
    margin-left: 207px;
}

.imgDiv{
    margin-left: 38px;
}
.images {
    margin: 0px;
}

img{
    height: 250px;
}

.gText{
    text-align: center;
    -webkit-text-stroke: thin;
    margin-left: -20px;
    margin-bottom: 0px;
}

@media (max-width: 1199px) {
    .Body {
        width: auto;
        min-width: 300px;
    }

    .Form {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: unset;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .imgDiv{
        display: none;
    }

    .wBody {
        display: flex;
        flex-direction: column;
    }

    .projectName{
        display: flex;
        flex-direction: row;
        width: auto;
    }   

}

@media (max-width: 700px) {
    h1 {
        /* margin: 15px 0px 0px 33px; */
        font-size: xx-large;
        font-weight: normal;
        width: 80%;
    }

    .hint {
        width: 100px;
    }

    .button {
        margin: 0px 0px 0px 10px;
    }

    .text {
        margin: 0%;
    }
}

@media (max-width: 920px) {

    .Body {
        width: auto;
        min-width: 300px;
    }
    
    .Form {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .flex1 {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 32px;
    }

    .row-content2 {
        margin-left: 0;
    }

    .placewidth{
        width: 210px;
    }

    .flex2 {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 32px;
    }

    .hint {
        width: 270px;
    }

    .row-content3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .modal-footer {
        display: flex;
        flex-direction: row;
        padding: 0%;
        justify-content: center;
    }
}