

<div class="Body">
    <form class="Form">
        <div class="wBody">
            <h2>
                Create your Account
            </h2>
            <div class="flex1">
                <div class="row-content1">
                <!-- 2nd div for lastName  -->  
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="row-content2">
                <!-- 2nd div for lastName  -->    
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
            </div>
            <div class="row-content3">
                <!-- 3st div for Name  -->
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input class="placewidth" matInput placeholder="Placeholder">
                </mat-form-field>
                <h4> You can use letters, numbers & periods</h4>
                <div class="newAccount"> Use my Current Email Address Instead</div>
            </div>
            <div class="flex2">
                <div class="row-content1">
                <!-- 4st div for Name  -->
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                    <h4>Use 8 or more characters with a mix of letters, numbers & symbols</h4>
                </div>
                <div class="row-content2">
                <!-- 5nd div for lastName  -->    
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
            </div>
            <div class="modal-footer">
                <h3 class="text"> sign in instead </h3>
                <button onclick="submit()" class="button">Next</button>
            </div>
        </div>
        <div class="imgDiv">
            <figure class="images">
                <img src="../../../assets/images/account.svg">
                <h3 class="gText">One Account. All of Google</h3>
                <h3 class="gText">Working for you</h3>
            </figure>
        </div>
    </form>   
</div>
