<p>password works!</p>

<div class="Body">
    <form [formGroup]="form" (ngSubmit)="submit()" class="text">
        <div class="funDoText">
            <p class="fText"> 
                FunDooNotes 
            </p> 
        </div>
        <div class="head">
            <h1 class="signInText">Account recovery</h1>
            <h5 style="font-size: large; color: rgb(73, 72, 72); padding: 60px 20px 0px 35px;"> Enter the last password you remember using this Google Account</h5>
        </div>
        <div class=inputBox>
            <div class="row-content1">
            <!-- 1st div for paswword  -->  
                <mat-form-field appearance="outline" class="inputContainer">
                    <mat-label>Enter Last password</mat-label>
                    <input matInput placeholder="" formControlName="newPassword">
                    <mat-error *ngIf="form.controls.newPassword.errors">Password is required !</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="footer">
            <div>
                <button type="submit" mat-raised-button color="primary" class="button">Next</button>
            </div>
        </div>
    </form>
</div>