
<div style="height: 100vh;">
    <div style="border-bottom: 1px solid #bfbebe; height: 8vh;">
        <div class="header">
            <div class="head-left">
                <div class="menu">           
                    <button class="buttonMenu"type="button" mat-button (click)="drawer.toggle()" mat-icon-button aria-label="Example icon button with a menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>                   
                </div>
                <div class="noteImage">
                    <img src="../../../assets/images/keep_logo.png">
                </div>
                <div class="noteText">
                    <p>FundooNotes</p>
                </div>
            </div>
            <div class="head-center" >
                <form class="search">
                    <button class="material-icons" aria-label="Search">search</button>         
                    <div>
                        <input class="searchInput" aria-label="Search" type="text">
                    </div>
                </form>
            </div>
            <div class="head-right"> 
                <div class="example-button-container">
                    <button mat-button color="white" aria-label="Example icon button with a home icon" type="button">
                        <mat-icon mat-button [matMenuTriggerFor]="belowMenu" >person</mat-icon>
                        <mat-menu class="user-box" #belowMenu="matMenu" yPosition="below">
                            <div style="width: 90%;">
                                User Name
                            </div>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <div class="sideIcon" style="margin-bottom: 20px;">
                <button>
                    <mat-icon>note</mat-icon>
                </button>
                <button style="width: 35px; height: 35px;">Notes</button>
            </div>
            <div class="sideIcon" style="margin-bottom: 20px;">
                <button>
                  <mat-icon>notifications_none</mat-icon>
                </button>
                <button>Remainders</button>
            </div>
            <div class="sideIcon" style="margin-bottom: 20px;">
                <button>
                    <mat-icon>create</mat-icon>
                </button>
                <button>Edit Labels</button>
            </div>
            <div class="sideIcon" style="margin-bottom: 20px;">
                <button>
                    <mat-icon>archive</mat-icon>
                </button>
                <button>Archieve</button>
            </div>
            <div class="sideIcon" style="margin-bottom: 20px;">
                <button>
                    <mat-icon>delete_outline</mat-icon>
                </button>
                <button>Trash</button>
            </div>
        </mat-drawer> 
        <div style="background-color: rgb(255, 255, 255); width: 100%; height: 100%;">
            <!-- <div class="noteDiv"> -->
                <app-notes style="height: 30%;"></app-notes>
            <!-- </div> -->
        </div>
    </mat-drawer-container> 
</div>